#content {
  max-width: 860px;
  margin: 0 auto;
}

header {
  font-size: 1em;
  font-family: "Luxurious Roman", cursive;
  align-items: center;
  background-color: rgba(50, 50, 250, 1);
  color: white;
  text-align: center;
  text-shadow: 2px 2px 5px lightgrey;
  padding: 1em;
}

body {
  margin: 0.5rem;
}

img {
  max-width: 100%;
  margin: 1em;
}

h2 {
  font-size: 1.5em;
  text-align: center;
  margin: 1.25rem auto;
  padding: 1em;
  color: black;
  text-shadow: 2px 2px 5px lightblue;
}

span {
  font-weight: 700;
}

footer {
  background-color: rgba(50, 50, 250, 1);
  text-align: center;
  margin: 1.25rem auto;
  padding: 1em;
  border-radius: 1em;
  box-shadow: 10px 10px 15px grey, -10px 0px 15px grey, 0px -10px 15px grey;
}

.copy {
  color: white;
}

.last {
  color: yellow;
}
